network-security.data
elpa/*
melpa/*
transient/*
auto-save-list/*
.recentf
.smex_items
backups/*
projectile_bookmarks.old
.lsp-session-v1
.smex-items
eshell/*
ido.last
projectile-bookmarks.eld
url/*
history
server/*
.mc-lists.el
cider-history
image-dired
image-dired/*
.cache
.cache/*
